@font-face {
	font-family: 'adsk_iconfont';
	src:url('adsk_iconfont/adsk_iconfont.eot');
	src:url('adsk_iconfont/adsk_iconfont.eot?#iefix') format('embedded-opentype'),
		url('adsk_iconfont/adsk_iconfont.woff') format('woff'),
		url('adsk_iconfont/adsk_iconfont.ttf') format('truetype'),
		url('adsk_iconfont/adsk_iconfont.svg#adsk_iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'adsk_iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-zoom_out:before {
	content: "\e600";
}
.icon-zoom_in:before {
	content: "\e601";
}
.icon-youtube:before {
	content: "\e602";
}
.icon-x_close:before {
	content: "\e603";
}
.icon-view:before {
	content: "\e604";
}
.icon-upward_arrow:before {
	content: "\f0d8";
}
.icon-unlock:before {
	content: "\e606";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-tumblr:before {
	content: "\e608";
}
.icon-trash:before {
	content: "\e609";
}
.icon-tools_settings_support:before {
	content: "\e60a";
}
.icon-time_render:before {
	content: "\e60b";
}
.icon-tag_price:before {
	content: "\e60c";
}
.icon-subtract:before {
	content: "\e60d";
}
.icon-story_traditional:before {
	content: "\e60e";
}
.icon-story_technical:before {
	content: "\e60f";
}
.icon-stop_dnd:before {
	content: "\e610";
}
.icon-star:before {
	content: "\e611";
}
.icon-square_solid_drop:before {
	content: "\e612";
}
.icon-square_solid:before {
	content: "\e613";
}
.icon-square_outline_drop:before {
	content: "\e614";
}
.icon-square_outline:before {
	content: "\e615";
}
.icon-spotlight:before {
	content: "\e616";
}
.icon-solid_cta:before {
	content: "\f18e";
}
.icon-single_document:before {
	content: "\e618";
}
.icon-simple_menu:before {
	content: "\e619";
}
.icon-shopping_cart:before {
	content: "\e61a";
}
.icon-share:before {
	content: "\e61b";
}
.icon-search:before {
	content: "\e61c";
}
.icon-save:before {
	content: "\e61d";
}
.icon-rss:before {
	content: "\e61e";
}
.icon-rounded_square_solid:before {
	content: "\e61f";
}
.icon-rotate:before {
	content: "\e620";
}
.icon-return:before {
	content: "\e621";
}
.icon-render_3d:before {
	content: "\e622";
}
.icon-reload_recycle:before {
	content: "\e623";
}
.icon-question_mark:before {
	content: "\e624";
}
.icon-print:before {
	content: "\e625";
}
.icon-power_on:before {
	content: "\e626";
}
.icon-play_next:before {
	content: "\e627";
}
.icon-pixel_arrow_upright:before {
	content: "\e628";
}
.icon-pixel_arrow_upleft:before {
	content: "\e629";
}
.icon-pixel_arrow_up:before {
	content: "\e62a";
}
.icon-pixel_arrow_right:before {
	content: "\e62b";
}
.icon-pixel_arrow_left:before {
	content: "\e62c";
}
.icon-pixel_arrow_dnright:before {
	content: "\e62d";
}
.icon-pixel_arrow_dnleft:before {
	content: "\e62e";
}
.icon-pixel_arrow_dn:before {
	content: "\e62f";
}
.icon-pinterest:before {
	content: "\f0d2";
}
.icon-pin:before {
	content: "\e631";
}
.icon-pie_chart:before {
	content: "\e632";
}
.icon-pause:before {
	content: "\e633";
}
.icon-outline_cta:before {
	content: "\e634";
}
.icon-noaccess:before {
	content: "\e635";
}
.icon-mobile_apps:before {
	content: "\e636";
}
.icon-minimize:before {
	content: "\e637";
}
.icon-microphone_advertise:before {
	content: "\e638";
}
.icon-maximize:before {
	content: "\e639";
}
.icon-marker:before {
	content: "\e63a";
}
.icon-lock:before {
	content: "\e63b";
}
.icon-list_menu:before {
	content: "\e63c";
}
.icon-linkedin:before {
	content: "\e63d";
}
.icon-line_chart:before {
	content: "\e63e";
}
.icon-line_arrow_upright:before {
	content: "\e63f";
}
.icon-line_arrow_upleft:before {
	content: "\e640";
}
.icon-line_arrow_up:before {
	content: "\e641";
}
.icon-line_arrow_right:before {
	content: "\e642";
}
.icon-line_arrow_left:before {
	content: "\e643";
}
.icon-line_arrow_dnright:before {
	content: "\e644";
}
.icon-line_arrow_dnleft:before {
	content: "\e645";
}
.icon-line_arrow_dn:before {
	content: "\e646";
}
.icon-instagram:before {
	content: "\e647";
}
.icon-information:before {
	content: "\e648";
}
.icon-image:before {
	content: "\e649";
}
.icon-home:before {
	content: "\e64a";
}
.icon-heart_solid:before {
	content: "\e64b";
}
.icon-heart_outline:before {
	content: "\e64c";
}
.icon-group_community:before {
	content: "\e64d";
}
.icon-greek_text:before {
	content: "\e64e";
}
.icon-googleplus:before {
	content: "\e64f";
}
.icon-globe:before {
	content: "\e650";
}
.icon-gear_settings:before {
	content: "\e651";
}
.icon-gallery:before {
	content: "\e652";
}
.icon-folder_files:before {
	content: "\e653";
}
.icon-flash_execute:before {
	content: "\e654";
}
.icon-flag:before {
	content: "\e655";
}
.icon-filter:before {
	content: "\e656";
}
.icon-files_documents:before {
	content: "\e657";
}
.icon-fast_forward_end:before {
	content: "\e658";
}
.icon-fast_forward_beginning:before {
	content: "\e659";
}
.icon-fast_forward:before {
	content: "\e65a";
}
.icon-fast_backward:before {
	content: "\e65b";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-expand_external:before {
	content: "\e65d";
}
.icon-exclamation:before {
	content: "\e65e";
}
.icon-empty_word_bubble_outline:before {
	content: "\e65f";
}
.icon-empty_word_bubble:before {
	content: "\e660";
}
.icon-empty_double_square:before {
	content: "\e661";
}
.icon-email:before {
	content: "\e662";
}
.icon-edit_design:before {
	content: "\e663";
}
.icon-downward_arrow:before {
	content: "\f0d7";
}
.icon-download:before {
	content: "\e665";
}
.icon-desktop:before {
	content: "\e666";
}
.icon-database:before {
	content: "\e667";
}
.icon-cta_arrow_outline:before {
	content: "\e668";
}
.icon-cta_arrow:before {
	content: "\e669";
}
.icon-copy:before {
	content: "\e66a";
}
.icon-comment_discuss:before {
	content: "\e66b";
}
.icon-collaboration:before {
	content: "\e66c";
}
.icon-cloud_outline:before {
	content: "\e66d";
}
.icon-cloud:before {
	content: "\e66e";
}
.icon-clipboard_paper:before {
	content: "\e66f";
}
.icon-circle_solid:before {
	content: "\e670";
}
.icon-circle_outline:before {
	content: "\e671";
}
.icon-checkmark_ok:before {
	content: "\e672";
}
.icon-checklist:before {
	content: "\e673";
}
.icon-camera_pictures:before {
	content: "\e674";
}
.icon-briefcase:before {
	content: "\e675";
}
.icon-bell_reminder:before {
	content: "\e676";
}
.icon-bar_chart:before {
	content: "\e677";
}
.icon-back_previous:before {
	content: "\e678";
}
.icon-attachment:before {
	content: "\e679";
}
.icon-arrow_upright:before {
	content: "\e67a";
}
.icon-arrow_upleft:before {
	content: "\e67b";
}
.icon-arrow_up:before {
	content: "\e67c";
}
.icon-arrow_right:before {
	content: "\e67d";
}
.icon-arrow_left:before {
	content: "\e67e";
}
.icon-arrow_down:before {
	content: "\e67f";
}
.icon-arrow_dnright:before {
	content: "\e680";
}
.icon-arrow_dnleft:before {
	content: "\e681";
}
.icon-alert:before {
	content: "\e682";
}
.icon-add:before {
	content: "\e683";
}
.icon-access_files:before {
	content: "\e684";
}
.icon-d_cube:before {
	content: "\e685";
}
